<nz-dropdown [ngStyle]="style"
             [nzTrigger]="'click'"
             [nzClickHide]="false"
             [nzPlacement]="'bottomRight'"
             [(nzVisible)]="visible">
  <button nz-button nz-dropdown>
    <i style="float:right" [class]="'anticon anticon-'+type+' title-menu'"
       [style.font-size.px]="size"
       [style.color]="color"
    ></i>
  </button>
  <div nz-menu style="padding:1rem">
    <nz-rangepicker [(ngModel)]="dateRange" [nzSize]="dateRangeSize"></nz-rangepicker>

    <div style="margin-top:0.5rem">
      <div nz-row [nzGutter]="8">
        <div nz-col class="gutter-row" [nzSpan]="12">
          <button nz-button [nzType]="'default'" [nzSize]="size" style="width:100%" (click)="generateDate('test')">
            <span>Download</span>
          </button>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="12">
          <button nz-button [nzType]="'default'" [nzSize]="size" style="width:100%">
            <span>Download</span>
          </button>
        </div>
      </div>
      <div nz-row [nzGutter]="8" style="margin-top:0.5rem">
        <div nz-col class="gutter-row" [nzSpan]="12">
          <button nz-button [nzType]="'default'" [nzSize]="size" style="width:100%">
            <span>Download</span>
          </button>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="12">
          <button nz-button [nzType]="'default'" [nzSize]="size" style="width:100%">
            <span>Download</span>
          </button>
        </div>
      </div>
    </div>

    <div style="margin-top:0.5rem;float:left;margin-left:-2rem;">
      <button nz-button [nzType]="'primary'" [nzShape]="'circle'"
              (click)="dateSelectorSearch($event)">
        <i class="anticon anticon-search"></i>
      </button>
      <!--<button nz-button [nzType]="'primary'" [nzShape]="'circle'"-->
              <!--style="background-color: #d4695b;border:#d4695b">-->
        <!--<i class="anticon anticon-cross"></i>-->
      <!--</button>-->
    </div>

  </div>
</nz-dropdown>
