<div class="logo">
  <img class="logoImg" src="/assets/img/logo.jpg"/>
</div>
<ul class="menu" nz-menu [nzTheme]="'light'" [nzMode]="isCollapsed?'vertical':'inline'">
  <li nz-submenu class="menuItem">
    <span title>
      <i class="anticon anticon-sync"></i>
      <span class="nav-text">Order Flow</span>
    </span>
    <ul>
      <nz-anchor>
        <nz-link nzHref="#anchor-order-info" nzTitle="Order Info"></nz-link>
        <nz-link nzHref="#anchor-order-replay" nzTitle="Order Flow"></nz-link>
        <nz-link nzHref="#anchor-service-view" nzTitle="Service View"></nz-link>
      </nz-anchor>
      <!--<li nz-menu-item>Order Info</li>-->
      <!--<li nz-menu-item>Order Flow</li>-->
      <!--<li nz-menu-item>Service View</li>-->
    </ul>
  </li>
  <li nz-submenu class="menuItem">
    <span title>
      <i class="anticon anticon-layout"></i>
      <span class="nav-text">DashBoard</span>
    </span>
    <ul>
      <li nz-menu-item>
        <!--<a routerLink="/api-performance" [skipLocationChange]="true">-->
          API Performance
        </a>
      </li>
      <li nz-menu-item>
        <!--<a routerLink="">-->
          API Availability
        <!--</a>-->
      </li>
      <li nz-menu-item>
        <!--<a routerLink="">-->
          Stuck Order Metrics
        <!--</a>-->
      </li>
    </ul>
  </li>
</ul>

