<nz-input [nzPlaceHolder]="'Search '+ _type"
          [(ngModel)]="_value" style="width:30%;float:left;margin:18px 0 0 10px;">
  <ng-template #addOnBefore>
    <nz-select [(ngModel)]="_type" style="background: #FFF;margin:-4px -7px;color:rgba(0,0,0,0.4)">
      <nz-option [nzLabel]="'Web Order Id'" [nzValue]="'Web Order Id'"></nz-option>
      <nz-option [nzLabel]="'Sub Reference ID'" [nzValue]="'Sub Reference ID'"></nz-option>
      <nz-option [nzLabel]="'Subscription Code'" [nzValue]="'Subscription Code'"></nz-option>
    </nz-select>
  </ng-template>
  <ng-template #addOnAfter>
    <i class="anticon anticon-search" (click)="onSearch({type:_type,id:_value})"
       style="font-weight:bold;color:#347db0"></i>
  </ng-template>
</nz-input>
