.title-menu {
  font-size:24px;
  margin:20px 40px 20px 0px;
  color:#FFF;
  cursor:pointer;
}

.title-menu:hover {
  font-size:24px;
  margin:20px 40px 20px 0px;
  color:rgba(255,255,255,0.6);
  cursor:pointer;
}
